## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns=['EIN', 'NAME'])

In [4]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = app_df["APPLICATION_TYPE"].value_counts()
print(app_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 0.05 * len(app_df)
application_types_to_replace = list(app_type_counts[app_type_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     7262
Name: count, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df["CLASSIFICATION"].value_counts()
print(class_counts)
replace_class = list(class_counts[class_counts < 1000].index)

# Replace in DataFrame
for cls in replace_class:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls, "Other")

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = app_df['CLASSIFICATION'].value_counts()
class_counts_greater_than_one = class_counts[class_counts > 1]
print(class_counts_greater_than_one)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [23]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = list(class_counts[class_counts < cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df = pd.get_dummies(app_df)

In [31]:
# Split our preprocessed data into our features and target arrays
y = app_df["IS_SUCCESSFUL"].values
X = app_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 296

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 347 (1.36 KB)
Trainable params: 347 (1.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 427us/step - loss: 0.6197 - accuracy: 0.6796
Epoch 2/50
804/804 [==============================] - 0s 407us/step - loss: 0.5924 - accuracy: 0.7037
Epoch 3/50
804/804 [==============================] - 0s 402us/step - loss: 0.5850 - accuracy: 0.7085
Epoch 4/50
804/804 [==============================] - 0s 400us/step - loss: 0.5820 - accuracy: 0.7085
Epoch 5/50
804/804 [==============================] - 0s 403us/step - loss: 0.5801 - accuracy: 0.7110
Epoch 6/50
804/804 [==============================] - 0s 409us/step - loss: 0.5786 - accuracy: 0.7111
Epoch 7/50
804/804 [==============================] - 0s 426us/step - loss: 0.5776 - accuracy: 0.7133
Epoch 8/50
804/804 [==============================] - 0s 401us/step - loss: 0.5769 - accuracy: 0.7117
Epoch 9/50
804/804 [==============================] - 0s 401us/step - loss: 0.5763 - accuracy: 0.7127
Epoch 10/50
804/804 [==============================] - 0s 402us/step - loss: 0.5759 - accuracy: 0.7126
Epoch 11/50
804/804 [==============================] - 0s 399us/step - loss: 0.5758 - accuracy: 0.7127
Epoch 12/50
804/804 [==============================] - 0s 406us/step - loss: 0.5755 - accuracy: 0.7140
Epoch 13/50
804/804 [==============================] - 0s 402us/step - loss: 0.5751 - accuracy: 0.7123
Epoch 14/50
804/804 [==============================] - 0s 429us/step - loss: 0.5750 - accuracy: 0.7130
Epoch 15/50
804/804 [==============================] - 0s 401us/step - loss: 0.5748 - accuracy: 0.7138
Epoch 16/50
804/804 [==============================] - 0s 407us/step - loss: 0.5746 - accuracy: 0.7138
Epoch 17/50
804/804 [==============================] - 0s 399us/step - loss: 0.5749 - accuracy: 0.7136
Epoch 18/50
804/804 [==============================] - 0s 401us/step - loss: 0.5744 - accuracy: 0.7138
Epoch 19/50
804/804 [==============================] - 0s 400us/step - loss: 0.5743 - accuracy: 0.7140
Epoch 20/50
804/804 [==============================] - 0s 406us/step - loss: 0.5744 - accuracy: 0.7138
Epoch 21/50
804/804 [==============================] - 0s 420us/step - loss: 0.5742 - accuracy: 0.7137
Epoch 22/50
804/804 [==============================] - 0s 414us/step - loss: 0.5741 - accuracy: 0.7137
Epoch 23/50
804/804 [==============================] - 0s 402us/step - loss: 0.5742 - accuracy: 0.7139
Epoch 24/50
804/804 [==============================] - 0s 401us/step - loss: 0.5740 - accuracy: 0.7145
Epoch 25/50
804/804 [==============================] - 0s 405us/step - loss: 0.5735 - accuracy: 0.7146
Epoch 26/50
804/804 [==============================] - 0s 410us/step - loss: 0.5739 - accuracy: 0.7142
Epoch 27/50
804/804 [==============================] - 0s 405us/step - loss: 0.5738 - accuracy: 0.7146
Epoch 28/50
804/804 [==============================] - 0s 439us/step - loss: 0.5736 - accuracy: 0.7142
Epoch 29/50
804/804 [==============================] - 0s 405us/step - loss: 0.5734 - accuracy: 0.7153
Epoch 30/50
804/804 [==============================] - 0s 404us/step - loss: 0.5736 - accuracy: 0.7146
Epoch 31/50
804/804 [==============================] - 0s 402us/step - loss: 0.5734 - accuracy: 0.7143
Epoch 32/50
804/804 [==============================] - 0s 400us/step - loss: 0.5733 - accuracy: 0.7141
Epoch 33/50
804/804 [==============================] - 0s 403us/step - loss: 0.5732 - accuracy: 0.7143
Epoch 34/50
804/804 [==============================] - 0s 413us/step - loss: 0.5730 - accuracy: 0.7150
Epoch 35/50
804/804 [==============================] - 0s 455us/step - loss: 0.5727 - accuracy: 0.7153
Epoch 36/50
804/804 [==============================] - 0s 402us/step - loss: 0.5728 - accuracy: 0.7161
Epoch 37/50
804/804 [==============================] - 0s 411us/step - loss: 0.5726 - accuracy: 0.7157
Epoch 38/50
804/804 [==============================] - 0s 402us/step - loss: 0.5725 - accuracy: 0.7154
Epoch 39/50
804/804 [==============================] - 0s 403us/step - loss: 0.5725 - accuracy: 0.7158
Epoch 40/50
804/804 [==============================] - 0s 451us/step - loss: 0.5726 - accuracy: 0.7158
Epoch 41/50
804/804 [==============================] - 0s 409us/step - loss: 0.5723 - accuracy: 0.7158
Epoch 42/50
804/804 [==============================] - 0s 403us/step - loss: 0.5726 - accuracy: 0.7164
Epoch 43/50
804/804 [==============================] - 0s 401us/step - loss: 0.5721 - accuracy: 0.7158
Epoch 44/50
804/804 [==============================] - 0s 404us/step - loss: 0.5719 - accuracy: 0.7158
Epoch 45/50
804/804 [==============================] - 0s 404us/step - loss: 0.5721 - accuracy: 0.7156
Epoch 46/50
804/804 [==============================] - 0s 400us/step - loss: 0.5721 - accuracy: 0.7163
Epoch 47/50
804/804 [==============================] - 0s 434us/step - loss: 0.5722 - accuracy: 0.7165
Epoch 48/50
804/804 [==============================] - 0s 402us/step - loss: 0.5721 - accuracy: 0.7164
Epoch 49/50
804/804 [==============================] - 0s 407us/step - loss: 0.5722 - accuracy: 0.7165
Epoch 50/50
804/804 [==============================] - 0s 404us/step - loss: 0.5720 - accuracy: 0.7165

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5810 - accuracy: 0.7047 - 83ms/epoch - 309us/step
Loss: 0.5809990763664246, Accuracy: 0.704723060131073

In [45]:
# Export our model to HDF5 file
nn.save("trained_model.h5")

/Users/rasheedah/Library/Python/3.9/lib/python/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(